/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #2e6e8e;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #004c75;
}
.logo img {
  height: 45px;
  margin-right: 8px;
}
.nav-menu a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  transition: 0.3s;
}
.nav-menu a.active,
.nav-menu a:hover {
  color: #ffa726;
}
.nav-menu .btn-daftar {
  background: #ffa726;
  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
}

/* PROFILE */
.profile-container {
  text-align: center;
  margin-top: 0;
  background: #2e6e8e;
}
.profile-icon {
  font-size: 120px;
  color: #fff;
}
.profile-container h2 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.profile-container p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 30px;
}
.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.btn {
  display: inline-block;
  background: #fff;
  color: #2e6e8e;
  padding: 12px 40px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.3s;
}
.btn:hover {
  background: #ffa726;
}

/* FOOTER */
footer {
  background: #2e6e8e;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
}
footer .links {
  margin-bottom: 10px;
}
footer .links a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  background: #3f8bb0;
  padding: 6px 14px;
  border-radius: 12px;
  transition: 0.3s;
}
footer .links a:hover {
  background: #2e6e8e;
  border: 1px solid #fff;
}
.profile-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.profile-container form input {
  width: 350px;
  padding: 12px;
  border: 1px solid #9fd0e6;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  background: #ffffff;
  text-align: center;
}

.profile-container form input:focus {
  border-color: #2e6e8e;
}

.profile-container form .btn {
  width: 60%;
  padding: 12px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background: #fff;
  color: #2e6e8e;
}

.profile-container form .btn:hover {
  background: #ffa726;
}

